@import 'styles/colors.scss';
@import 'styles/breakpoints.scss';

.root {
	position: relative;
	display: flex;
	min-height: 100%;
	flex: 1;
	overflow: hidden;
	align-items: stretch;
	padding-bottom: 50px;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 16px 0px;
	width: 100%;

	@media (min-width: 450px) {
		justify-content: center;
		flex: 1;
		max-width: 400px;
		margin: 0 auto;
	}
}

.card {
	padding: 16px;

	@media (min-width: 450px) {
		background-color: #fff;
		border: 1px solid $border;
		border-radius: 8px;
	}
}

.brand {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 24px 0px;
}

.brandName {
	font-size: 32px;
	margin-top: 8px;
	font-weight: 600;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.separator {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 32px 0px;
	color: $gray;
	width: 100%;

	& > .label {
		margin: 0px 24px;
	}
}

.inputWrapper {
	margin-bottom: 16px;
	padding: 0px 32px;
	width: 100%;
}

.input {
	border: 0;
	flex: 1 0 0px;
	margin: 0;
	outline: 0;
	overflow: hidden;
	padding: 12px 0 12px 12px;
	font-size: 16px;
	border-radius: 8px;
	width: 100%;
	border: 1px solid $border;
}

.forgotPassword {
	margin-top: 32px;

	& p {
		color: $primary;
	}

	@media (min-width: 450px) {
		margin-top: 24px;
		margin-bottom: 8px;
	}
}

.loginCta {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	border-top: 1px solid $border;

	& > p {
		opacity: 0.6;
	}
	& > a {
		color: $primary;
		margin-left: 8px;
	}
	@media (min-width: $sm) {
		position: relative;
		border: 1px solid $border;
		border-radius: 8px;
		padding: 32px;
		margin-top: 24px;
	}
}
