@import 'styles/colors.scss';

.root {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid $border;
}

.header {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid $border;
}

.usersList {
    padding: 16px;

    & .user + .user {
        margin-top: 24px;
    }
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fill {
    flex: 1 1 auto;
}
